<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <!-- Include lavkesh cloud logback appender -->
  <include resource="com/lavkesh/cloud/lavkesh-cloud-logback.xml"/>

  <springProfile name="local, dev, qa">
    <!-- Setting the com.lavkesh.cloud level of logging to DEBUG -->
    <logger name="com.lavkesh.cloud" level="DEBUG"/>

    <!-- Setting the com.springframework level of logging to DEBUG -->
    <logger name="org.springframework.web" level="INFO"/>
    <logger name="org.springframework.cloud.netflix.eureka" level="DEBUG"/>
    <logger name="org.springframework.boot.actuate" level="DEBUG"/>
  </springProfile>

  <springProfile name="staging, production">
    <!-- Setting the com.lavkesh.cloud level of logging to INFO -->
    <logger name="com.lavkesh.cloud" level="DEBUG"/>

    <!-- Setting the com.springframework level of logging to INFO -->
    <logger name="org.springframework.web" level="INFO"/>
    <logger name="org.springframework.cloud.netflix.eureka" level="INFO"/>
    <logger name="org.springframework.boot.actuate" level="INFO"/>
  </springProfile>

  <!-- Setting the root level of logging to INFO -->
  <root level="INFO">
    <appender-ref ref="CONSOLE"/>
    <appender-ref ref="FILE"/>
    <appender-ref ref="AMQP"/>
  </root>
</configuration>