<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender class="ch.qos.logback.core.ConsoleAppender" name="STDOUT">
    <!-- Log message format -->
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] ${APPLICATION_NAME} %-5level %logger{36} - %msg%n
      </pattern>
    </encoder>
  </appender>

  <!-- Need appender to write to file -->
  <appender class="ch.qos.logback.core.FileAppender" name="FILE">
    <file>/var/app_log/${APPLICATION_NAME}.log</file>
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] ${APPLICATION_NAME} %-5level %logger{36} - %msg%n
      </pattern>
    </encoder>
  </appender>

  <!-- Setting the com.lavkesh.cloud level of logging to DEBUG -->
  <logger level="debug" name="com.lavkesh.cloud">
    <appender-ref ref="FILE"/>
  </logger>

  <!-- Setting the com.lavkesh.cloud level of logging to DEBUG -->
  <logger level="debug" name="org.springframework.cloud">
    <appender-ref ref="STDOUT"/>
    <appender-ref ref="FILE"/>
  </logger>

  <!-- Setting the root level of logging to INFO -->
  <root level="info">
    <appender-ref ref="STDOUT"/>
    <appender-ref ref="FILE"/>
  </root>
</configuration>